/* -----------------START RESET---------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/********************* END RESET *********************/

@font-face {
    font-family: 'league_gothicregular';
    src: url('type/leaguegothic-regular.eot');
    src: url('type/leaguegothic-regular.eot?#iefix') format('embedded-opentype'),
         url('type/leaguegothic-regular.woff2') format('woff2'),
         url('type/leaguegothic-regular.woff') format('woff'),
         url('type/leaguegothic-regular.ttf') format('truetype'),
         url('type/leaguegothic-regular.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratlight';
    src: url('type/montserrat-light/montserrat-light-webfont.eot');
    src: url('type/montserrat-light/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/montserrat-light/montserrat-light-webfont.woff2') format('woff2'),
         url('type/montserrat-light/montserrat-light-webfont.woff') format('woff'),
         url('type/montserrat-light/montserrat-light-webfont.ttf') format('truetype'),
         url('type/montserrat-light/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	font-family: 'EB Garamond', serif;
}
.wrapper {
	width:75%;
	margin:0px auto;
	padding:50px; /********* Why???? **********/
}
header {
	padding:25px;
	margin-bottom:50px;
}
header h1 {
	font-family:'montserratlight';
	color:gray;
}
header h1 a {
	color:gray;
	text-decoration:none;
	font-weight:bold;
	float:left;
}
header h1 a:hover {
	color:lightgray;
}
nav {
	float:right;
}
nav ul {
	float:left;
}
nav li {
	margin-left:20px;
	font-family:'montserratlight';
	font-size:14px;
	color:gray; /* #777 */
	text-transform: uppercase;
	display:inline-block;
	letter-spacing:1px;
}
nav li:last-child {
	padding-right:0px;
}
nav li a {
	text-decoration:none;
	color:gray;
}
nav li a:hover {
	color:lightgray;
}
.home img {
	max-width:269px;
	float:left;
	margin:0px 25px 50px 25px;
}
.home img a:hover {
	background-color:pink;
	height:50px;
}
.left-column {
	width:37%;
	float:left;
	color:#707070; /* #353535 dark-gray*/
	line-height:1.5em;
}
.left-column h1 {
	font-family: 'Pathway Gothic One', sans-serif; /*font-family:'league_gothicregular' sans-serif;*/
	font-size:40px;
	letter-spacing: 1px;
	line-height:1.05em;
	text-transform:uppercase;
	text-align:center;
	margin-bottom:8px;
}
.left-column h2 {
	font-style:italic;
	font-size:18px;
	text-align:center;
	margin-bottom:15px;
}
.right-column {
	width:58%;
	float:right;
	line-height:1.5em;
	color:gray;
}
.right-column img {
	max-width:105%;
	margin-bottom:30px;
}
.prev {
	text-transform:uppercase;
	font-family:sans-serif;
	float:left;
}
.prev a {
	text-transform:uppercase;
	font-family:sans-serif;
	float:left;
	text-decoration:none;
	color:gray;
}
.prev a:hover {
	color:lightgray;
}
.next {
	text-transform:uppercase;
	font-family:sans-serif;
	float:right;
}
.next a {
	text-transform:uppercase;
	font-family:sans-serif;
	float:right;
	text-decoration:none;
	color:gray;
}
.next a:hover {
	color:lightgray;
}
.slide-thumnails img{
	max-width:200px;
	margin-top:30px;
	margin-right:20px;
}
footer {
	clear:both;
	width:100%;
	padding:30px;
	margin-top:30px;
	float:left;
	text-align:center;
	font-family:'Open Sans', sans-serif;
	color:gray;
	font-size:12px;
	line-height:1.5em;
	background-color:#ebebeb; /*very light-gray*/
}
footer h1 {
	font-size:14px;
	color:gray;
	text-transform: uppercase;	
	font-weight:bold;
}
.footer-icons {
	margin-top:25px;
}
.clear {
	clear:both;
}
	
	
	
	
	
	
	
	
	
