/* -----------------START RESET---------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/********************* END RESET *********************/

@font-face {
    font-family: 'league_gothicregular';
    src: url('type/leaguegothic-regular.eot');
    src: url('type/leaguegothic-regular.eot?#iefix') format('embedded-opentype'),
         url('type/leaguegothic-regular.woff2') format('woff2'),
         url('type/leaguegothic-regular.woff') format('woff'),
         url('type/leaguegothic-regular.ttf') format('truetype'),
         url('type/leaguegothic-regular.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratlight';
    src: url('type/montserrat-light/montserrat-light-webfont.eot');
    src: url('type/montserrat-light/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/montserrat-light/montserrat-light-webfont.woff2') format('woff2'),
         url('type/montserrat-light/montserrat-light-webfont.woff') format('woff'),
         url('type/montserrat-light/montserrat-light-webfont.ttf') format('truetype'),
         url('type/montserrat-light/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	font-family:'EB Garamond', serif;
	font-size:1em;
}
.wrapper {
	width:80%; /*1020px*/
	margin:0px auto;
	padding-top:2%;
}
header {
	margin-bottom:5%; /*50px*/
	padding:0 2% 2% 2%;
}
header h1 {
	font-family:'montserratlight';
	color:gray;
}
header h1 a {
	color:gray;
	text-decoration:none;
	font-weight:bold;
	float:left;
}
header h1 a:hover {
	color:lightgray;
}
nav {
	float:right;
}
nav ul {
	float:left;
}
nav li {
	margin-left:20px;
	font-family:'montserratlight';
	font-size:14px;
	color:gray; /* #777 */
	text-transform: uppercase;
	display:inline-block;
	letter-spacing:1px;
}
nav li:last-child {
	padding-right:0px;
}
nav li a {
	text-decoration:none;
	color:gray;
}
nav li a:hover {
	color:lightgray;
}
.onpage a {
	color:gray;
	padding-bottom:4px;
	border-bottom:2px solid #999;
	}
}

/* HOVER IMAGE THEN SHOW TEXT */
.home {
	overflow:hidden;
	margin:0;
}
.box {
	width:29.3%;
   float:left;
   position:relative;
   padding-bottom:23.1%;
	margin:2%;
}
.boxInner {
	position:absolute;
	overflow:hidden;	
}
.boxInner a img {
	width:100%;
}
.boxInner .titlebox {
	position:absolute;
	bottom:2px;
	left:-1px;
	right:-1px;
	background-color:white;
	opacity:0;
	padding:10px;
	font-family:'Pathway Gothic One', sans-serif;
	font-size:1.7em;
	text-transform: uppercase;
	line-height: 0.8em;
	letter-spacing:1px;
	color:#666;
	text-align:center;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out; /*allow the text to slide up */ 
}
.boxInner .titlebox em { 
	font-family:'EB Garamond', serif;
	text-transform:capitalize;
	font-size:0.6em;
	font-style:italic;
}
.boxInner:hover .titlebox {
	margin-bottom:0;
	opacity:.9;
}
/* END HOVER IMAGE THEN SHOW TEXT */

.left-column {
	width:30%;
	float:left;
	padding-left:2%;
	color:#707070; /* #353535 dark-gray*/
	line-height:1.5em;
}
.left-column h1 {
	font-family: 'Pathway Gothic One', sans-serif; 
	font-size:2.3em;
	letter-spacing: 1px;
	line-height:1.05em;
	text-align:center;
	text-transform:uppercase;
	margin-bottom:0.3em;
}
.left-column h2 {
	font-style:italic;
	font-size:1.1em;
	text-align:center;
	margin-bottom:15px;
}
.right-column {
	width:62%;
	float:right;
	padding-right:2%;
	line-height:1.5em;
	color:gray;
}
/*.right-column img {
	max-width:100%;
	margin-bottom:30px;
}
.prev {
	text-transform:uppercase;
	font-family:sans-serif;
	float:left;
}
.prev a {
	text-transform:uppercase;
	font-family:sans-serif;
	font-size: 14px;
	float:left;
	text-decoration:none;
	color:gray;
}
.prev a:hover {
	color:lightgray;
}
.next {
	text-transform:uppercase;
	font-family:sans-serif;
	float:right;
}
.next a {
	text-transform:uppercase;
	font-family:sans-serif;
	font-size: 14px;
	float:right;
	text-decoration:none;
	color:gray;
}
.next a:hover {
	color:lightgray;
}*/





/*  SLIDE ONE
------------------------*/
.slide {
  position: relative;
  width:100%;
  height:470px;
  padding: 0;
  overflow: hidden;
  /*margin: 10px;
  -webkit-box-shadow: ;
  -moz-box-shadow: ;
  box-shadow: 0 8px 10px -6px #000000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/
}
.slide-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 310px;
}
.slide-inner figure {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  float: left;
}
.slide-inner figure img {
  width: 100%;
  border: 0;
  outline: 0;
  display: block;
  /*height: 310px;*/
}
.slide .btn{
  position:absolute;
  bottom:50%;
  z-index:100000;
  text-decoration: none;
  background:gray;
  opacity:0.6;
  padding:.5% 1.8%;
  border-radius:50%;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  font-family: monospace;
  box-shadow: 0 1px 2px #5F5F5F;
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  -ms-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}
/*.slide .btn:hover,.slide .btn:focus{
  background: #fff;
  color: #c0392b;
  border: 2px solid #c0392b;
  box-shadow: 0 1px 2px #fff;
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -ms-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}*/
.slide .left{left:1%;}
.slide .right{right:1%;}
/*  END SLIDE ONE
------------------------*/









.slide-thumnails img{
	max-width:200px;
	margin-top:30px;
	margin-right:20px;
}
footer {
	clear:both;
	width:100%;
	padding:30px;
	margin-top:30px;
	float:left;
	text-align:center;
	font-family:'Open Sans', sans-serif;
	color:gray;
	font-size:12px;
	line-height:1.5em;
	background-color:#ebebeb; /*very light-gray*/
}
footer h1 {
	font-size:14px;
	color:gray;
	text-transform: uppercase;	
	font-weight:bold;
}
.footer-icons {
	margin-top:25px;
}
.clear {
	clear:both;
}



	

























