

/*.box {
	width: 290px;
	float:left;
	margin:0px 25px 50px 25px;
}*/
.boxInner {
	position:absolute;
	width:290px;
	left:10px;
	right:10px;
	top:10px;
	bottom:10px;
	overflow:hidden;	
}

.boxInner img {
	width:100%;
}

.boxInner .titlebox {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	margin-bottom:-60px;
	background-color: red;
	opacity: 0;
	padding:20px;
	letter-spacing:1px;
	color:white;
	font-family:sans-serif;
	font-size:1.25em;
	text-align:center;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out; /*allow the text to slide up */ 
}
.boxInner:hover .titlebox {
	margin-bottom:0;
	opacity: 1;
}
















/*.wrap {
   overflow: hidden;
   margin: 100% 75px 75px 75px;
}*/
.box {
   float: left;
   position: relative;
   width: 20%;
   padding-bottom: 20%;
}


