/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/*********************** END RESET ***********************/

body {
	padding:50px;
}
p {
	font-size:16px;
}
h1 img {
	margin:0px auto; 
	display :block;
}
nav { /*****I don't get this why nav is not center?????******/
	border-top:3px solid black;
	border-bottom:3px solid black;
	padding:20px;
	margin:30px auto;
	text-align:center;
}
ul {
	text-align:center;
}
nav li {
	padding-right:20px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:20px;
	font-weight:bold;
	text-transform: uppercase;	
	display:inline-block;
}
nav li a{
	display:inline-block;
	color:#000;
	text-decoration:none;
	list-style-type:circle;
	font-family:Georgia, "Times New Roman", Times, serif;
		
}
article img {
	width:100%;
}
.head {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:20px;
	font-weight:bold;
	color:#000; 
	margin:20px 0px;
}
.box1 {
	width:49%;
	/*background-color:red;*/
	float:left;
}
.box2 {
	width:49%;
	/*background-color:green;*/
	float:right;
}
footer {
	font-size:14px;
	border-top: 3px solid black;
	margin-top:20px;
}
footer a {
	color:red;
	text-decoration:none;
}
.clear {
	clear:both;
}
.left {
	float:left;
}
.right {
	float:right;
}















